{% load static %}
{% load custom_template_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Upload Mangas, Comics, Manhwas and Webtoons to reach the whole NetManga Community.  Read and explore new Mangas, Comics, Manhwas and Webtoons by creator on NetManga and support them.">
        <meta name="keywords" content="netmanga, manga, mangas, anime, animes, upload mangas, read online mangas, manhwa, manhwas, netmangas, webtoon, webtoons, crunchyroll, tapas, mangaka, become a mangaka, voyceme">
        <!-- Favicon-->
        <link rel="icon" type="image/png" href="{% static 'img/netmanga_badge.png' %}">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <!-- icons -->
        <link href="{% static 'fontawesome_free/css/all.min.css' %}" rel="stylesheet" type="text/css">
        <!-- main.css -->
        <link href="{% static 'css/main.css' %}" rel="stylesheet">
        <link rel="canonical" href="https://netmanga.com/">
        <title>{% block title %} Read Mangas and Comics Online - NetManga {% endblock %}</title>
    </head>
    <body>
        <!--Chart js-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.1.1/chart.min.js" integrity="sha512-BqNYFBAzGfZDnIWSAEGZSD/QFKeVxms2dIBPfw11gZubWwKUjEgmFUtUls8vZ6xTRZN/jaXGHD/ZaxD9+fDo0A==" crossorigin="anonymous"></script>
        {% include 'navbar.html' %}
        {% if user.is_authenticated %}
        <div class="coins-view">
            <div class="buy-coins-link">
                <a class="btn" href="{% url 'accounts:buy_coins'%}" target="_blank" >
                    <img src="{% static 'img/netmanga_coin.png' %}" alt="NetManga Coin" style="margin-bottom: 4px;" width="20" height="20"> 
                    <h6 class="dropdown-coins-amount">
                    {% if user.profile.coins < 10000 %}
                    {{user.profile.coins}}
                    {% elif user.profile.coins >= 10000 and user.profile.coins < 1000000 %}
                    {{user.profile.coins | div:1000 |floatformat:1}}K
                    {% elif user.profile.coins >= 1000000 and user.profile.coins < 1000000000%}
                    {{user.profile.coins | div:1000000| floatformat:1}}M
                    {% else %}
                    {{user.profile.coins | div:1000000000 | floatformat:1}}B
                    {% endif %}
                    </h6>
                </a>
            </div>
        </div>
        
        {% endif %}
        <main>
            {% block content %}
                
            {% endblock %}
        </main>

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        <!--JavaScript| Seperate Popper and Bootstrap JS-->
        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!--script.js-->
        <script src="{% static 'js/script.js' %}"></script>
        <!--cookie_consent.js-->
        <script src="{% static 'js/cookie_consent.js' %}"></script>
    </body>
    <footer class="footer text-center bg-light">
        {% include 'footernav.html' %}
    </footer>
</html>