{% load static %}

<div class="social-media-container row">
    <div class="social-media-link-box">
        <a class="social-media-link" href="https://www.facebook.com/netmangaofficial" target="_blank">
            <i class="fab fa-facebook"></i>
        </a>
    </div>

    <div class="social-media-link-box">
        <a class="social-media-link" href="https://www.instagram.com/netmangaofficial/" target="_blank">
            <i class="fab fa-instagram"></i>
        </a>
    </div>
    <div class="social-media-link-box">
        <a class="social-media-link" href="https://twitter.com/NetMangaOffic" target="_blank">
            <i class="fab fa-twitter"></i>
        </a>
    </div>
    <div class="social-media-link-box">
        <a class="social-media-link" href="https://www.youtube.com/channel/UCZYp6NMYo9WJxB5fpd4K0sw" target="_blank">
            <i class="fab fa-youtube"></i>
        </a>
    </div>
    <div class="social-media-link-box">
        <a class="social-media-link" href="https://www.tiktok.com/@netmanga" target="_blank">
            <i class="fab fa-tiktok"></i>
        </a>
    </div>
    
</div>

<div class="container">
    <a class="footer-link" href="{% url 'public:about' %}">About</a>
    <a class="footer-link" href="{% url 'help:help' %}">Help</a>
    <a class="footer-link" href="{% url 'public:creator_terms' %}"><nobr>Creator Terms</nobr></a>
    <a class="footer-link" href="{% url 'public:user_terms' %}"><nobr>User Terms</nobr></a>
    <a class="footer-link" href="{% url 'public:privacy_policy' %}"><nobr>Privacy Policy</nobr></a>
    </br>
    <p class="copyright">Copyright © NETMANGA</p>  
    <br/>
    <img src="{% static 'img/netmanga_logo.png' %}" alt="NetManga Logo" class="footer-logo"> 
</div>