{% extends 'base.html' %}
{% load static %}

{% block title %} NETMANGA - Read Mangas and Comics online {% endblock %}

{% block content %}
<!--
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">-->
        <!-- Masthead Heading-->
        <!--<h1 class="masthead-heading text-uppercase mb-0">PUBLISH YOUR MANGA</h1>-->
        <!-- Masthead Subheading-->
        <!--<p class="masthead-subheading font-weight-light mb-0">Be Creative</p>
    </div>
</header>-->
<!--
<header class="masthead bg-netmanga text-black text-center">
    <div class="containe d-flex align-items-center flex-column">
       
        <h1 class="masthead-heading text-uppercase mb-0">PUBLISH YOUR MANGA</h1>
        
        <p class="masthead-subheading font-weight-light mb-0">Be Creative</p>
    </div>
</header>
-->
<div class="main-content">
    <div class="chart-view">
        <div>
            <section class="manga-section loaded">
                <h1>Recent Uploads</h1>
                <div class="manga-list">
                    {% for manga in mangas %}
                    <div class="manga-card">
                        <a class="cover" rel="noopener noreferrer" href="{% url 'public:chapterlist' pk=manga.pk %}">
                            <div class="background-color"></div>
                            <img class="manga-image loaded" src="{{manga.cover_picture.url}}">
                        
                            <div class="overlay">
                                <!--<a href="" class="title">{{manga.title}}</a>-->
                                <h5  class="title">{{manga.title}}</h5>
                                <small>@{{manga.creator.user.username}}</small>
                            </div>
                        
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>
</div>

<!--
<div class="section">
    <div class="container-fluid">
        <h1>
            Template NetManga Homepage
        </h1>
        <ul class="row manga-list">
            {% for manga in mangas %}
            <li class="manga-card">
                <div class="manga-item">
                    <a href="{% url 'public:chapterlist' pk=manga.pk %}">
                        <img src="{{ manga.cover_picture.url }}">
                        <div class="overlay">
                            <a class="title" href="{% url 'public:chapterlist' pk=manga.pk %}">
                                {{manga.title}}
                            </a>
                        </div>
                    </a>
                    
                    
                    
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
-->

<!--Recommended Section-->
{% if user.is_authenticated %}
<div class="main-content home-section" >
    <div class="chart-view">
        <div>
            <section class="manga-section loaded">
                <h1>Subscribed</h1>
                <div class="manga-list">
                    {% for subscriber in subscribed_mangas %}
                    {% with manga=subscriber.manga %}
                    <div class="manga-card">
                        <a class="cover" rel="noopener noreferrer" href="{% url 'public:chapterlist' pk=manga.pk %}">
                            <div class="background-color"></div>
                            <img class="manga-image loaded" src="{{manga.cover_picture.url}}">
                        
                            <div class="overlay">
                                <!--<a href="" class="title">{{manga.title}}</a>-->
                                <h5  class="title">{{manga.title}}</h5>
                                <small>@{{manga.creator.user.username}}</small>
                            </div>
                        
                        </a>
                    </div>
                    {% endwith %}
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}