{% extends 'viewer_base.html' %}
{% load static %}
{% load custom_template_tags %}

{% block title %} NETMANGA - {{oneshot.title}} {% endblock %}


{% block content %}
<!--Recommended Section-->
<!-- Navigation-->

{% with oneshotpage=oneshotpages.0 %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        
        
        <div class=" w-100 order-1 order-sm-0">
            <!--Logo and Homepage Nav-->
            <a class="navbar-brand" href="{% url 'public:index' %}">
                <img src="{% static 'img/netmanga_logo.png' %}" class="logo-nav">
            </a>
        </div>

        <div class="mx-auto order-3">
            <ul class="viewer-nav ms-auto">
                <li class="nav-chapter-item">
                    <div class='btn btn-next' id='next-page'>
                        <i class="fa fa-arrow-left"></i>
                    </div>
                </li>

                <li class="nav-chapter-item">
                    <!--Logo and Homepage Nav-->
                    <span class="page-no mx-auto">
                        {{oneshotpage.no}}/{{oneshotpages.count}}
                    </span>
                </li>
                <li class="nav-chapter-item">
                    <div class='btn btn-next-hidden' id='previous-page'>
                        <i class="fa fa-arrow-right"></i>
                    </div> 
                </li>
            </ul>
        </div>
        <!--Search Engine and Profile/Login-->

        <div class="navbar-collapse collapse w-100 order-3">
            <ul class="viewer-nav ms-auto">
                <li class="nav-chapter-item">
                    <div class="nav-chapter-link">
                        {{oneshot.title}}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="viewer-content">
    <div class="page-view">
        <div>
            <section class="page-section loaded">
                <div class="page-list">
                    <div class="page-card">
                        <div class="page-cover" rel="noopener noreferrer">
                            
                            <img class="chapter-page loaded" src="{{ oneshotpage.image.url}} " id="manga-page" galleryimg="no" oncontextmenu="return false;">
            
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<script>
    var currentpage = parseInt('{{oneshotpage.no}}') - 1
    var oneshotpages = JSON.parse('{{json_oneshotpages | safe}}')
    var imageurls = {{image_urls | safe}}
    document.getElementById("next-page").addEventListener('click',function(){
        if(currentpage + 1 !== oneshotpages.length){
            currentpage = currentpage + 1
            document.getElementById("manga-page").src = imageurls[currentpage]
            document.getElementById("previous-page").className = "btn btn-next" 
            document.querySelector(".page-no").innerHTML= currentpage+1 + "/" + oneshotpages.length
            if(currentpage + 1 === oneshotpages.length){
                document.getElementById("next-page").className = "btn btn-next-hidden"
            }
        }
    });

    document.getElementById("previous-page").addEventListener('click',function(){
        if(currentpage !== 0){
            currentpage = currentpage - 1
            document.getElementById("manga-page").src = imageurls[currentpage]
            document.getElementById("next-page").className = "btn btn-next" 
            document.querySelector(".page-no").innerHTML= currentpage + 1 + "/" + oneshotpages.length
            if(currentpage + 1 === 1){
                document.getElementById("previous-page").className = "btn btn-next-hidden"
            }
        }
    });

</script>
{% endwith %}

<div class="section">
    <div class="container-fluid">
        <div class="feedback">
            <ul class="ratings">
                <li>
                    <h4 class="views">
                        {{oneshot.views}} View{{oneshot.views|pluralize:",s"}} 
                    </h4>
                    <h6 class="publish-date">
                        {{oneshot.published|date:'d.m.Y'}}
                    </h6>
                </li>
                
                <li class="like-buttons">
                    <div>
                        <form id="like" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="like" value="1"/>
                            {% if user_rating.rating == True %}
                            <button class="btn btn-like" onclick="document.forms[0].submit();return false;">
                                <i class="fa fa-thumbs-up fa-selected">
                                </i>
                                <small class="thumbs-up-selected">{{likes}}</small>
                            </button>
                            {% else %}
                            <button class="btn btn-like" onclick="document.forms[0].submit();return false;">
                                <i class="fa fa-thumbs-up">
                                </i> 
                                <small class="thumbs-up">{{likes}}</small>
                            </button> 
                            {% endif %}
                        </form>
                        <form id="dislike" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="dislike" value="2"/>
                            {% if user_rating.rating == False %}
                            <button class="btn btn-like" onclick="document.forms[1].submit();return false;">
                                <i class="fa fa-thumbs-down fa-selected">
                                </i>
                                <small class="thumbs-down-selected">{{dislikes}}</small>
                            </button>
                            
                            {% else %}
                            <button class="btn btn-like" onclick="document.forms[1].submit();return false;">
                                <i class="fa fa-thumbs-down">
                                </i> 
                                <small class="thumbs-down">{{dislikes}}</small>
                            </button>
                            
                            {% endif %}
                        </form>
                        {%  if user.is_authenticated %}
                        <script>
                            var likes = parseInt('{{likes}}')
                            var dislikes = parseInt('{{dislikes}}')
                            document.querySelector("#like > button").addEventListener('click',function(){
                                if(document.querySelector("#like > .btn > .fa-selected")){
                                    console.log("1")
                                    document.querySelector("#like > .btn > i").className="fa fa-thumbs-up"
                                    likes--
                                    document.querySelector("#like > .btn > small").className="thumbs-up"
                                    document.querySelector("#like > .btn > small").innerHTML= likes
                                }
                                else {
                                    if(document.querySelector("#dislike > .btn > .fa-selected")){
                                        console.log('2.1')
                                        document.querySelector("#dislike > .btn > i").className="fa fa-thumbs-down"
                                        document.querySelector("#like > .btn > i").className="fa fa-thumbs-up fa-selected"
                                        likes++
                                        dislikes--
                                        document.querySelector("#like > .btn > small").className="thumbs-up-selected"
                                        document.querySelector("#dislike > .btn > small").className="thumbs-down"
                                        document.querySelector("#like > .btn > small").innerHTML= likes
                                        document.querySelector("#dislike > .btn > small").innerHTML= dislikes
                                    }
                                    else {
                                        console.log('2.2')
                                        document.querySelector("#like > .btn > i").className="fa fa-thumbs-up fa-selected"
                                        likes++
                                        document.querySelector("#like > .btn > small").className="thumbs-up-selected"
                                        document.querySelector("#like > .btn > small").innerHTML= likes
                                    }
                                }
                            });
                            document.querySelector("#dislike > button").addEventListener('click',function(){
                                if(document.querySelector("#dislike > .btn > .fa-selected")){
                                    console.log('3')
                                    document.querySelector("#dislike > .btn > i").className="fa fa-thumbs-down"
                                    console.log(dislikes)
                                    dislikes--
                                    console.log(dislikes)
                                    document.querySelector("#dislike > .btn > small").className="thumbs-down"
                                    document.querySelector("#dislike > .btn > small").innerHTML= dislikes
                                }
                                else {
                                    if(document.querySelector("#like > .btn > .fa-selected")){
                                        console.log('3.1')
                                        document.querySelector("#dislike > .btn > i").className="fa fa-thumbs-down fa-selected"
                                        document.querySelector("#like > .btn > i").className="fa fa-thumbs-up"
                                        likes--
                                        dislikes++
                                        document.querySelector("#like > .btn > small").className="thumbs-up"
                                        document.querySelector("#dislike > .btn > small").className="thumbs-down-selected"
                                        document.querySelector("#like > .btn > small").innerHTML= likes
                                        document.querySelector("#dislike > .btn > small").innerHTML= dislikes
                                    }
                                    else {
                                        console.log('3.2')
                                        document.querySelector("#dislike > .btn > i").className="fa fa-thumbs-down fa-selected"
                                        dislikes++
                                        document.querySelector("#dislike > .btn > small").className="thumbs-down-selected"
                                        document.querySelector("#dislike > .btn > small").innerHTML= dislikes
                                    }
                                }
                            });
                        </script>
                        {% endif %}
                        <div class="dropdown" style="float: right;">
                            <div class="more-button" type="button" id="dropdownMenuButton"
                            data-bs-toggle="dropdown" aria-expanded="true">
                                <span>...</span>
                            </div>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                                {% if user.is_authenticated %}
                                <a class="dropdown-item" id="give_award">
                                    <div class="dropdown-image">
                                        <i class="fa fa-gift"></i>
                                    </div> 
                                    <div class="dropdown-text">Awards</div> 
                                </a>
                                <a class="dropdown-item" id="report_chapter">
                                    <div class="dropdown-image">
                                        <i class="fa fa-flag"></i>
                                    </div> 
                                    <div class="dropdown-text">Report</div> 
                                </a>
                                {% else %}
                                <a class="dropdown-item" id="give_award" href="{% url 'accounts:login' %}">
                                    <div class="dropdown-image">
                                        <i class="fa fa-gift"></i>
                                    </div> 
                                    <div class="dropdown-text">Awards</div> 
                                </a>
                                <a class="dropdown-item" id="report_chapter" href="{% url 'accounts:login' %}"> 
                                    <div class="dropdown-image">
                                        <i class="fa fa-flag"></i>
                                    </div> 
                                    <div class="dropdown-text">Report</div> 
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </li>   
            </ul>   
        </div>
        <div class="feedback">
            <ul class="ratings">
                <li>
                    <a href="{% url 'accounts:show_profile' pk=oneshot.creator.user.pk %}">
                        <img class="creator-picture rounded-circle"  src="{{oneshot.creator.user.profile.profile_picture.url}}">
                        <h5 class="creator-name"  style="float: right;">{{ oneshot.creator.user.username }}</h5>
                    </a>
                </li>
                {% if oneshot.creator.user == user %}
                <li  style="float:right;">
                    <a href="{% url 'accounts:edit_oneshot_form' pk=oneshot.pk %}" class="btn btn-subscribe">
                        Edit One-Shot
                    </a>
                </li>
                {% else %}
                <li class="subscribe-button">
                    
                </li>
                {% endif %}  
            </ul>   
        </div>
    </div>
</div>
{% if request.user.is_authenticated %}
<div class="bg-awards-modal">
    <div class="modal-awards-content">
        <div class="awards-info">
            <a class="coins-amount-view" target="_blank" href="{% url 'accounts:buy_coins' %}">
                <i class="fa fa-plus-circle"></i>
                <img class="awards-coin-img" src="{% static 'img/netmanga_coin.png' %}" width="20" height="20">
                <h5>{{request.user.profile.coins}}</h5>
            </a>
            
            <div class="awards-close">+</div>
        </div>
        <div class=awards-box>
            <form method="post" class="awards-list" id="award">
                {% csrf_token %}
            
                {% for award in awards %}
                {% if request.user.profile.coins >= award.price %}
                    <input type="radio" id="id_{{award.name|cut:' '|lower}}" name="award" value="{{award.name}}" required>
                    <label for="id_{{award.name|cut:' '|lower}}" class="award-card" id="label_{{award.name|cut:' '|lower}}">
                        <div class="award-img-box">
                            <img src="{{ award.image.url }}" alt="" class="award-img loaded">
                        </div>
                        <div class="award-label-box">
                            <div class="award-hidden-box">
                                <div class="award-label-content-box">
                                    <div class="div award-label-body">{{award.name}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="award-label-price">
                            <div class="award-label-content-box">
                                <div class="div award-price-body">
                                    <img src="{% static 'img/netmanga_coin.png' %}" height="20" width="20">
                                    {{award.price}}
                                </div>
                            </div>   
                        </div>
                    </label>
                {% else %}
                    <input type="radio" id="id_{{award.name|cut:' '|lower}}" name="award" value="{{award.name}}" required>
                    <a class="award-card" id="label_{{award.name|cut:' '|lower}}_link" target="_blank" href="{% url 'accounts:buy_coins' %}">
                        <div class="award-img-box">
                            <img src="{{ award.image.url }}" alt="" class="award-img loaded">
                        </div>
                        <div class="award-label-box">
                            <div class="award-hidden-box">
                                <div class="award-label-content-box">
                                    <div class="div award-label-body">{{award.name}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="award-label-price">
                            <div class="award-label-content-box">
                                <div class="div award-price-body">
                                    <img src="{% static 'img/netmanga_coin.png' %}" height="20" width="20">
                                    {{award.price}}
                                </div>
                            </div>   
                        </div>
                    </a>
                {% endif %}
                {% endfor %}
                <div style="text-align: center; margin-top: 10px;">
                    <button class="btn btn-login btn-xl" type="submit">
                        Give Award
                    </button>
                </div>
            </form>
        </div>
    </div>    
</div>

<div class="bg-reloadpage-modal">
    <a href="" class="btn btn-reload btn-xl">
        <span class="reload">&#x21bb</span>
    </a>
</div>

<div class="bg-report-modal">
    <div class="modal-report-content">
        <div class="report-info">
            <div class="view-title">
                <h5>Submit a Report</h5>
            </div>
            
            <div class="report-close">+</div>
        </div>
        <div class="report-disclaimer">
            <p>
                Thank you for helping this website clean. Type in he box below, whats wrong with this One-Shot or something else.
                Please be as precise as possible so we can look in to it and handle this Problem faster.
            </p>
        </div>
        <form id="report" method="post">
            {%csrf_token%}
            {% for field in report_form %}
            {{field}}
            {% endfor %}
            <div style="float: left; max-width:180px; padding-top: 20px; font-size:12px;">
                Not sure if something is breaking the rules? Review <a href="{% url 'public:user_terms' %}">NetManga Terms and Policy</a>
            </div>
            <button style="float: right; margin-top:25px;" class="btn btn-login">
                Report
            </button>
            
        </form>
    </div>    
</div>
{% endif %}
<div class="section">
    <!---->
    <div class="container">
        <ul class="comments">
            <li class="comment-form">
                {% if user.is_authenticated %}
                    <img class="comment-user rounded-circle uploaded" height=50 width=50 src="{{user.profile.profile_picture.url}}">
                {% else %}
                    <img class="comment-user rounded-circle uploaded" height=50 width = 50 src="{% static 'img/no_profile_picture.png' %}">
                {% endif %}
                <form id="comment" method="post">
                    {% csrf_token %}
                    {% for field in comment_form %}
                    {{field}}
                    {% endfor %}
                    <button class=" btn btn-login">
                        Publish
                    </button>
                </form>
                </br>
            </li>
            {% for comment_info in comment_infos %}
            <li class="commentary">
                <img class="comment-user rounded-circle uploaded" height=50 width = 50 src="{{comment_info.comment.user.profile.profile_picture.url}}">
                <small class="username">{{ comment_info.comment.user.username  }}</small>
                <p class= "comment">{{ comment_info.comment.comment }}</p>
                <div class="row">
                    <form id="commentlike" class="commentlike-{{forloop.counter}}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="commentlike" value="{{comment_info.comment.pk}}"/>
                        <button  class="btn btn-like" type="submit">
                            {% if comment_info.rating == True %}
                            <i class="fa fa-thumbs-up fa-selected"></i>
                            {% else %}
                            <i class="fa fa-thumbs-up"></i>
                            {% endif %}
                        </button>   
                        {% if comment_info.rating == True %}
                        <small class="thumbs-selected">{{comment_info.comment.like}} </small>
                        {% else %}
                        <small class="thumbs">{{comment_info.comment.like}} </small>
                        {% endif %}            
                    </form>
                   
                    <form id="commentdislike" class="commentdislike-{{forloop.counter}}"  method="post">
                        {% csrf_token %}
                        <input type="hidden" name="commentdislike" value="{{comment_info.comment.pk}}"/>
                        <button  class="btn btn-like" type="submit">
                            {% if comment_info.rating == False %}
                            <i class="fa fa-thumbs-down fa-selected"></i>
                            {% else %}
                            <i class="fa fa-thumbs-down"></i>
                            {% endif %}
                        </button>   
                        {% if comment_info.rating == False %}
                        <small class="thumbs-selected">{{comment_info.comment.dislike}} </small>
                        {% else %}
                        <small class="thumbs">{{comment_info.comment.dislike}} </small>
                        {% endif %}  
                    </form>
                </div>
            </li>
            {% if user.is_authenticated %}
            <script>
                comment_infos = {{comment_infos_json|safe}}
                console.log(comment_infos)
                document.querySelector('.commentlike-{{forloop.counter}} > .btn').addEventListener('click',function(){
                    if(document.querySelector('.commentlike-{{forloop.counter}} > .btn > .fa-selected')){
                        document.querySelector('.commentlike-{{forloop.counter}} > .btn > i').className = 'fa fa-thumbs-up'
                        comment_infos[{{forloop.counter0}}].comment.like--
                        document.querySelector('.commentlike-{{forloop.counter}} > small').innerHTML = comment_infos[{{forloop.counter0}}].comment.like
                    }
                    else {
                        if(document.querySelector('.commentdislike-{{forloop.counter}} > .btn > .fa-selected')){
                            document.querySelector('.commentlike-{{forloop.counter}} > .btn > i').className = 'fa fa-thumbs-up fa-selected'
                            document.querySelector('.commentdislike-{{forloop.counter}} > .btn > i').className = 'fa fa-thumbs-down'
                            comment_infos[{{forloop.counter0}}].comment.like++
                            comment_infos[{{forloop.counter0}}].comment.dislike--
                            document.querySelector('.commentlike-{{forloop.counter}} > small').innerHTML = comment_infos[{{forloop.counter0}}].comment.like
                            document.querySelector('.commentdislike-{{forloop.counter}} > small').innerHTML = comment_infos[{{forloop.counter0}}].comment.dislike
                        }
                        else {
                            document.querySelector('.commentlike-{{forloop.counter}} > .btn > i').className = 'fa fa-thumbs-up fa-selected'
                            comment_infos[{{forloop.counter0}}].comment.like++
                            document.querySelector('.commentlike-{{forloop.counter}} > small').innerHTML = comment_infos[{{forloop.counter0}}].comment.like
                        }
                    }
                });
                
                document.querySelector('.commentdislike-{{forloop.counter}} > .btn').addEventListener('click',function(){
                    if(document.querySelector('.commentdislike-{{forloop.counter}} > .btn > .fa-selected')){
                        document.querySelector('.commentdislike-{{forloop.counter}} > .btn > i').className = 'fa fa-thumbs-down'
                        comment_infos[{{forloop.counter0}}].comment.dislike--
                        document.querySelector('.commentdislike-{{forloop.counter}} > small').innerHTML = comment_infos[{{forloop.counter0}}].comment.dislike
                    }
                    else {
                        if(document.querySelector('.commentlike-{{forloop.counter}} > .btn > .fa-selected')){
                            document.querySelector('.commentdislike-{{forloop.counter}} > .btn > i').className = 'fa fa-thumbs-down fa-selected'
                            document.querySelector('.commentlike-{{forloop.counter}} > .btn > i').className = 'fa fa-thumbs-up'
                            comment_infos[{{forloop.counter0}}].comment.like--
                            comment_infos[{{forloop.counter0}}].comment.dislike++
                            document.querySelector('.commentlike-{{forloop.counter}} > small').innerHTML = comment_infos[{{forloop.counter0}}].comment.like
                            document.querySelector('.commentdislike-{{forloop.counter}} > small').innerHTML = comment_infos[{{forloop.counter0}}].comment.dislike
                        }
                        else {
                            document.querySelector('.commentdislike-{{forloop.counter}} > .btn > i').className = 'fa fa-thumbs-down fa-selected'
                            comment_infos[{{forloop.counter0}}].comment.dislike++
                            document.querySelector('.commentdislike-{{forloop.counter}} > small').innerHTML = comment_infos[{{forloop.counter0}}].comment.dislike
                        }
                    }
                });
            </script>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}