{% extends 'base.html' %}

{% block title %} NETMANGA - Popular Mangas {% endblock %}

{% block content %}
<div class="main-content">
    <div class="chart-view">
        <div>
            <section class="manga-section loaded">
                <h1>Popular Series</h1>
                <div class="manga-list">
                    {% for manga in mangas %}
                    <div class="manga-card">
                        <a class="cover" rel="noopener noreferrer" href="{% url 'public:chapterlist' pk=manga.manga.pk %}">
                            <div class="background-color"></div>
                            <img class="manga-image loaded" src="{{manga.manga.cover_picture.url}}">
                        
                            <div class="overlay">
                                <!--<a href="" class="title">{{manga.title}}</a>-->
                                <h5  class="title">{{manga.manga.title}}</h5>
                                <small>@{{manga.manga.creator.user.username}}</small>
                            </div>
                        
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>
</div>

<div class="main-content home-section">
    <div class="chart-view">
        <div>
            <section class="manga-section loaded">
                <h1>Popular One-Shots</h1>
                <div class="manga-list">
                    {% for oneshot in oneshots %}
                    <div class="manga-card">
                        <a class="cover" rel="noopener noreferrer" href="{% url 'public:oneshot_viewer' pk=oneshot.pk %}">
                            <div class="background-color"></div>
                            <img class="manga-image loaded" src="{{oneshot.cover_picture.url}}">
                        
                            <div class="overlay">
                                <!--<a href="" class="title">{{manga.title}}</a>-->
                                <h5  class="title">{{oneshot.title}}</h5>
                                <small>@{{oneshot.creator.user.username}}</small>
                            </div>
                        
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}