{% extends 'base.html' %}

{% block title %} Creator Terms | NetManga {% endblock %}

{% block content %}
<div class="container">
    <div class="terms-container">
        <h1>Creator Terms and Conditions</h1>
        <p>Last updated: April 21, 2021</p>
        <p>Please read these terms and conditions carefully before agreeing to be a creator.</p>
        <h1>User Terms</h1>
        <p>We want to notice, that the <a href="{% url 'public:user_terms' %}">User Terms and Conditions</a> also apply to Creators.</p>
        <h1>Content Guidelines</h1>
        <p>
            Use the Service for any illegal purpose or in violation of any local, state, national, or international law;
        </br></br>
            1. Abusive or Hateful Content
        </br></br>
            Malicious or abusive content or comment toward creators or other users is not allowed. This includes revealing an individual’s personal information (e.g. real name, contact information, address, social security numbers etc.).
        </br></br>
            Hateful content or comment that promotes or encourages violence, or has the primary purpose of inciting hate towards individuals or groups based on race, ethnic origin, religion, disability, gender, age, veteran status, sexual orientation, gender identity, political orientation, etc. is not allowed.
        </br></br>
            2. Copyright: Posting, distributing or transmitting any third party’s copyrighted content without the copyright holder’s consent is not allowed. Examples of prohibited content include:
        </br></br>
            • Posting, distributing or transmitting any third party’s copyrighted content without the copyright holder’s consent
        </br>
            • Using a creative work commercially without proper permission
        </br>
            • Copying or linking materials from another website or service without permission
        </br>
            • Providing free downloads of copyrighted CDs, sharing serial numbers or CD keys, or selling backup CDs of copyrighted material
        </br>
            • Infringing any third party’s intellectual property right including, without limitation, copyright, trademark, design rights, patent rights, etc.
        </br></br>
            3. Mature or Sexual Content: Content that contains nudity or intended to be sexually gratifying is not allowed. This includes, but is not limited to, full and partial nudity, as well as graphic depictions of sexual acts.
        </br></br>
            The ‘Mature Content Warning’ feature should be used to identify mature themes and content, including topics of sexuality. However, please note that utilizing the ‘Mature Content Warning’ feature does not mean that nudity or explicit sexual content is allowed on the platform.
        </br></br>
            4. Violent or Graphic Content: We do not allow graphic depictions of gratuitous violence, or content that promote acts of violence. Examples of prohibited content include:
        </br>
            • Brutal, extended, graphic acts of violence
        </br>
            • Depiction of sadism, or glorification/promotion of inflicting harm on others
        </br>
            • Glorification or promotion of self-harm
        </br></br>
            5. Spam or Advertising: Posting unsolicited or unwanted content or links is not allowed. This includes creating profiles or uploading content with the primary purpose to drive traffic to external websites. Using automated means to increase view counts or perform social interactions, or creating multiple accounts to increase view counts or perform social interactions will result in account suspension or removal. Linked websites are not under our control, and we are not responsible for their content.
        </br></br>
            6. Duplicate Content:
        </br></br>
            We do not allow posting duplicate content, whether from a single account or across multiple accounts, either publicly or as an unlisted story.
        </br></br>
            7. Terms Infringers: NetManga will promptly terminate without notice the accounts of users that are determined by NetManga to be “Terms Infringers.” A Terms Infringer is a user who has been notified of infringing activity or has had User Content removed from the Service at least twice. We strive to be fair, but we reserve the right to suspend accounts or remove content, without notice, for any reason, particularly to protect our services, infrastructure, users, or community. If you attempt to evade suspension by creating new accounts or posts, we will suspend your new accounts and posts.
        </p>
        <h1>Monetization</h1>
        <p>
            As a Creator You can earn money through gaining awards from readers. You can withdraw the earned money after You cummulated at least €50.
            You need a Paypal Account to withdraw the money.
            To protect You as a creator and Us from fraud the first and last name of your NetManga Account should match to the first and last name of the Paypal Account. 
        </p>
        <h1>Translation Interpretation</h1>
        <p>
            These Terms and Conditions may have been translated if We have made them available to You on our Service.
            You agree that the original English text shall prevail in the case of a dispute.
        </p>
        <h1>Changes to These Terms and Conditions</h1>
        <p>We reserve the right, at Our sole discretion, to modify or replace these Terms at any time. If a revision is material We will make reasonable efforts to provide at least 30 days' notice prior to any new terms taking effect. What constitutes a material change will be determined at Our sole discretion.</p>
        <p>By continuing to access or use Our Service after those revisions become effective, You agree to be bound by the revised terms. If You do not agree to the new terms, in whole or in part, please stop using the website and the Service.</p>
        <h1>Contact Us</h1>
        <p>If you have any questions about these Terms and Conditions, You can contact us:</p>
        <ul>
        <li>By email: contact@netmanga.com</li>
        </ul>
    </div>
</div>
{% endblock %}