http{
    upstream netmanga {
        server netmanga.herokuapp.com;
    }

    server {
        listen $PORT;
        location /static {
            alias /vol/static;
        }

        location / {
            proxy_pass https://netmanga;
            proxy_set_header x-forwarded-host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header Host netmanga.herokuapp.com;
        }
    }

    
}
