server {
    listen $PORT default_server;

    location /static {
        alias /vol/static;
    }

    location / {
        uwsgi_pass netmanga.herokuapp.com:$PORT;
        include /etc/nginx/uwsgi_params;
    }
}

http {
    uwsgi_read_timeout 300;
    proxy_read_timeout 300;
}