{% extends 'base.html' %}
{% load static %}

{% block title %} Chapter :: NETMANGA {% endblock %}

{% block content %}
<br />
<div class="row signup-mask">
    <div class="col-lg-10 mx-auto">
        <h2>Edit Chapter</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            <div class="control-group">
                {% for field in chapterform %}
                <div id="text-input" class="form-group">
                    
                    {{ field }}
                    {% for error in field.errors %}
                    <p class="help-block text-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                {% endfor %}
                <div class="thumb_wrap">
                    <div class="title_wrap">
                        <h4 class="publish_title">Upload Mangapages</h4>
                    </div>
                    <div class="alert alert-danger" role="alert" id="file-size-alert">
                        <p class="alert-text"></p>
                    </div>
                    <div class="alert-danger" role="alert" id="image-count-alert">
                        <p class="alert-text"></p>
                    </div>
                    <div id="mangapagesbrowsebutton" class="mangapagesbrowsebutton">
                        <div class="mangapages-browse-box">
                            <input name="images" type="file" multiple id="id_manga_pages" class="browse-file-input form-control" accept="image/*">
                        </div>
                        <div class="mangapages-browse-button mangapages-browse-applied" id="mangaPagesBrowseButton">
                            <div class="after">
                                <div class="manga-pages-box">
                                    <i class="fa fa-arrow-circle-up"></i>
                                    <p class="placeholder_message">
                                        Select all images to upload
                                        or drag the image files here.
                                    </p>
                                </div>
                                <i class="fa fa-arrow-circle-up"></i>
                                <p class="placeholder_message">
                                    Select all images to upload
                                    or drag the image files here.
                                </p>
                                {% for chapterimage in chapterimages %}
                                    <img src={{chapterimage.image.url}} alt="Warum?" class="uploaded-manga-pages">
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <p class="publish_thumb_info">
                        <span class="text">
                            For the best user experience and the best image resolution upload images with the format 450x720 px or higher with the same proportion. 
                            You can upload up to 300 images with the total files size of 50MB. Make sure you order the pages by its name before uploading. 
                            Also make sure, that the images are named with english letters.
                        </span>
                    </p>
                </div>
            </div>
            <br />
            <br />
            <div class="form-group" style="margin: 0 auto;">
                <button class="btn btn-login btn-xl" type="submit">Save</button>
            </div>
            
        </form>
    </div>
</div>
{% endblock %}