{% extends 'base.html' %}

{% block title %} Reset Password Done - NetManga {% endblock %}

{% block content %}
<div class="form-section">
    <div class="row login-mask">
        <div class="col-lg-8 mx-auto">
            <h4>Password reset sent</h4>
            <p>We have emailed you instructions for setting your password, if an NETMANGA account with the email you entered exists.
                You should receive them shorlty.
                If you don't receive an email, please make sure you have entered the address you registered with, and check your spam folder.
            </p>
            
        </div>
    </div>
</div>
{% endblock %}