{% extends 'base.html' %}

{% block title %} Reset Password :: NETMANGA {% endblock %}

{% block content %}
<div class="form-section">
    <div class="row login-mask">
        <div class="col-lg-8 mx-auto">
            <h4>Forgot Password? Dont Worry.</h4>
            <p>We will send you a URL to reset your password.
                Please enter the email address you have registered for NETMANGA.</p>
            <form id="contactform" method="post">
                {% csrf_token %}
                
                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}

                {% for field in form %}
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls mb-0 pb-2">
                        {{ field.label_tag }}
                        {{ field }}
                        {% for error in field.errors %}
                        <p class="help-block text-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}

                {% if success %}
                <div class="alert alert-success" role="alert">
                    An Email was sent to the email address above
                </div>
                {% endif %}
                {% if danger %}
                <div class="alert alert-danger" role="alert">
                    The given email address is not registered
                </div>
                {% endif %}
                <br />
                <div class="form-group">
                    <button class="btn btn-login btn-xl" type="submit">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}